@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-bg::before {
  content : " ";
  position : absolute;
  z-index : -10;
  transform : scale(2);
  inset : 0;
  pointer-events: none;
}

@media screen and (max-width : 1100px) {
  .gradient-bg::before {
    transform: scale(1);
  }
}